* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border-radius: 2%;
  background-color: #adb5bd;
  height: 100vh;
  margin: 1rem auto;
  width: 90%;
  padding: 1rem;
}

.heading-section {
  display: flex;
  justify-content: space-between;
  height: 2.4rem;
}
.app-name {
  font-family: "Rubik", sans-serif;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: rgba(24, 22, 22, 0.541);
  padding: 0.6rem;
  border-radius: 10%;
  color: white;
}
.sreach {
  border-radius: 10%;
  text-align: center;
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: space-around;
  font-weight: 500;
  height: 1.6rem;
  margin-top: 2rem;
  font-size: 1.4rem;
}
.navbar a {
  text-decoration: none;
  color: rgb(10, 10, 10);

  position: relative;
  padding: 0 1rem;
  border-radius: 10%;
}

.navbar a:hover {
  transition: 0.5s;
  background-color: rgb(219, 218, 218);
}

.order-items {
  height: 80%;
  margin-top: 2rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.order-items p {
  font-family: "Rubik", sans-serif;
}

.checkout-btn {
  background-color: rgb(21, 102, 224);
  height: 2.6rem;
  width: 100%;

  margin: auto;
  font-weight: 600;
  font-size: 1rem;
  color: white;
  border-radius: 2%;
}
/*----------------UNIVERSAL CLASS------------------------------------*/
.grid-done {
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 4fr 1fr;
}
.description {
  font-weight: 300;
  grid-column: 1;
  line-height: 1.6rem;
  text-align: left;
  margin-bottom: 4.2rem;
}
.descript-photo {
  grid-column: 2;
  width: 100%;
  border-radius: 10%;
}
.last-element {
  margin-bottom: 1rem;
}
